<div id="ScheduleDetailContainer">
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="star"></div>
            <div class="icon scheduleapp-header-icon"></div>
            <div class="event-title title">
            </div>
            <div class="event-speaker subtitle">von <span></span></div>
        </div>
    </div>

    <div class="palm-list">
        <table class="palm-divider collapsible" id="event-divider-timelocation" x-mojo-touch-feedback="delayed">
            <tr>
                <td class="left"></td>
                <td class="label">Zeit und Ort</td>
                <td class="line" width="100%"></td>
                <td><div id="event-toggler-timelocation" class="palm-arrow-expanded arrow_button"></div></td>
                <td class="right"></td>
            </tr>
        </table>
        <div id="event-drawer-timelocation" x-mojo-element="Drawer">
            <div class="palm-row multi-line single">
                <div class="palm-row-wrapper">
                    <small>
                        <div class="event-date"><span></span>, <strong></strong></div>
                        <div class="event-location">in <strong></strong></div>
                        <div class="event-location-image"><center><img src="images/rooms/janson.png" alt="" /></center></div>
                    </small>
                </div>
            </div>
        </div>
        <table class="palm-divider collapsible" id="event-divider-favorite" x-mojo-touch-feedback="delayed">
            <tr>
                <td class="left"></td>
                <td class="label">Favoriten</td>
                <td class="line" width="100%"></td>
                <td><div id="event-toggler-favorite" class="palm-arrow-expanded arrow_button"></div></td>
                <td class="right"></td>
            </tr>
        </table>
        <div id="event-drawer-favorite" x-mojo-element="Drawer">
            <div class="palm-row multi-line single">
                <div class="palm-row-wrapper">
                    <div class="event-mark-as-fav">
                        <div x-mojo-element="ToggleButton" class="left" id="favItemCheckbox"></div>
                        <div class="title left">Als Favorit markieren</div>
                    </div>
                </div>
            </div>
        </div>
        <table class="palm-divider collapsible" id="event-divider-description" x-mojo-touch-feedback="delayed">
            <tr>
                <td class="left"></td>
                <td class="label">Beschreibung</td>
                <td class="line" width="100%"></td>
                <td><div id="event-toggler-description" class="palm-arrow-expanded arrow_button"></div></td>
                <td class="right"></td>
            </tr>
        </table>
        <div id="event-drawer-description" x-mojo-element="Drawer">
            <div class="palm-row multi-line single">
                <div class="palm-row-wrapper">
                    <div class="event-description preview">
                    </div>
                </div>
            </div>
        </div>
        <table class="palm-divider collapsible" id="event-divider-more" x-mojo-touch-feedback="delayed">
            <tr>
                <td class="left"></td>
                <td class="label">Weitere Infos</td>
                <td class="line" width="100%"></td>
                <td><div id="event-toggler-more" class="palm-arrow-expanded arrow_button"></div></td>
                <td class="right"></td>
            </tr>
        </table>
        <div id="event-drawer-more" x-mojo-element="Drawer">
            <div class="palm-row multi-line single">
                <div class="palm-row-wrapper">
                    <div class="event-url preview"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="fade-top-with-arrow" x-mojo-scroll-fade="top"></div>
<div class="fade-bottom-arrow-with-buttons" x-mojo-scroll-fade="bottom"></div>
