<div id="main">
    <div class="palm-page-header multi-line">    
        <div class="palm-page-header-wrapper">
            <div class="title left un-capitalize"><div style="display: inline-block; vertical-align: middle;"><img src="images/mini-icon.png"></div>FOSDEM feeds</div>
        </div>
    </div>
    <div id="schedule_spinner" x-mojo-element="Spinner"></div>
</div>
<div id="FeedListContainer">
    <div id="schedule_spinner" x-mojo-element="Spinner"></div>
    <div id="feed_list" x-mojo-element="List"></div>
</div>
