<div id="main">
    <div class="palm-page-header">
        <div class="palm-page-header-wrapper">
            <div class="icon scheduleapp-header-icon"></div>
            <div class="title un-capitalize">
                re:publica-Feeds
            </div>
        </div>
    </div>
</div>

<div class="fade-top-with-arrow" x-mojo-scroll-fade="top"></div>
<div class="fade-bottom-arrow-with-buttons" x-mojo-scroll-fade="bottom"></div>

<div id="FeedListContainer">
    <div id="feeds_scrim" class="palm-scrim"><div id="feeds_spinner" x-mojo-element="Spinner"></div></div>
    <div id="feed_list" x-mojo-element="List"></div>
</div>
